.aq-width-full {
    width: 100%
}

/* // 行内垂直居中 */
.aq-vertical-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* // 行内水平 & 垂直居中 */
.aq-vertical-middle {
    display: flex !important;
    align-items: center !important;
}

/* $padding-list: 'padding-top',
'padding-bottom',
'padding-left',
'padding-right';

@each $padding in $padding-list {
  @for $i from 0 through 52 {
    @if $i%4==0 {
      .aq-#{$padding}-#{$i} {
        #{$padding}: 1px * $i !important;
      }
    }
  }
} */